.card {
    position: relative;
    margin-bottom: 10px;
    max-width: 228px;

    .icon-button {
        position: absolute;
        top: 0;
        right: 0;
    }

    p {
        word-break: break-word;
    }
}